<!DOCTYPE html>
<html>
	<head>
		<title>2014 {{team['nickname']}} Countdown</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='countdown.js')}}"></script>
		<script>
		
			/* FEATURES TO ADD?
			complete database
			timeline option -- maybe
			*/
	
			//get dates from database
			var pcReport = new Date('{{team['pcReport']}}');		
			var exOpener = new Date('{{team['exOpener']}}');
			var rsOpener = new Date('{{team['rsOpener']}}');
			
			$(document).ready(function() {
				updateCountdowns();
				setInterval(function(){updateCountdowns()}, 1000);
			});
			
		</script>
	</head>
	<body style="background-color: {{team['background_color']}};
				 color: {{team['text_color']}};">
		<h1>2014 {{team['nickname']}} Countdown</h1>
		<hr style="border-color: {{team['text_color']}}"><br>
		<p id="pcWait">time until pitchers and catchers report</p>
		<p id="exWait">time until exhibition opener</p>
		<p id="rsWait">time until regular season opener</p>
		<footer>
			<br><br>
			<a href="{{ url_for('select_team') }}" style="color: {{team['text_color']}};">
				select a different team</a>
			<br><br>
			<hr style="border-color: {{team['text_color']}}">
			<p>&copy; 2014 Andrew Desautels</p>
		</footer>
	</body>
</html>