<!DOCTYPE html>
<html>
	<head>
		<title>Team Selection</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{url_for('static', filename='select_team.js')}}"></script>
	</head>
	<body style="background-color: #555;
				 color: white;">
		<h1>2018 MLB Countdown</h1>
		<hr><br>
		<p>Select a team below and get excited for the upcoming MLB season!</p>
		<form action="{{ url_for('show_countdown') }}">
			<select name="team" required autofocus>
				<option id="placeholder" value="" selected disabled>select team</option>
				{% for team in teams %}
					<option value="{{team.abbr}}">{{team.full}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Go!">
			<input type="reset">
		</form>
		<footer>
			<br><br><hr>
			<p>&copy; 2018 Andrew Desautels</p>
			<a href="https://github.com/drewdez/mlb-countdown"
			style="color: white">view source on GitHub</a>
		</footer>
	</body>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-51708811-1', 'auto');
		ga('send', 'pageview');
	</script>
</html>
