<!DOCTYPE html>
<html>
	<head>
		<title>Team Selection</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body style="background-color: #555;
				 color: white;">
		<h1>2014 MLB Countdown</h1>
		<hr><br>
		<p>Select a team below and get excited for the upcoming MLB season!</p>
		<form action="{{ url_for('show_countdown') }}">
			<select name="team" autofocus required value="">
				<option value="" selected>select team</option>
				{% for team in teams %}
					<option value="{{team.abbr}}">{{team.full}}</option>
				{% endfor %}
			</select> 
			<input type="submit" value="Go!"/><input type="reset">
		</form>
		<footer>
			<br><br><hr>
			<p>&copy; 2014 Andrew Desautels</p>
		</footer>
	</body>
</html>